# General Environment Variables
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database Configuration
# For local dev (host), use: file:data/dev.db
# For production (Docker), use: file:/app/data/prod.db
DATABASE_URL=file:data/dev.db
