services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: martas-lab
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    environment:
      - DATABASE_URL=file:/app/data/prod.db
      - NEXT_PUBLIC_APP_URL=http://localhost:3000
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:3000"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
